header nav ul li picture {
    filter: invert(0.6);
}

/* Change styles when hovered */
header nav ul li picture:hover {
    filter: invert(1);
}

.submenu-container ul li {
    margin-bottom: 10px;
}
#menu-button img {
    width: 16px;
    padding: 0;
}

.submenu-content a.title {
    display: flex;
    align-items: center;
}
.submenu-content a.title span:first-child {
    max-width: 85%;
}
.submenu-content a:first-child span {
    line-height: 24px;
}
.submenu-content a:not(:first-child) span {
    font-size: 14px !important;
    line-height: 20px;
    font-weight: 330;
}
.submenu-content a span.icon img {
    width: 12px;
}
.submenu-content a:not(:first-child) span img {
    opacity: 0.6;
}

/***   Mobile Css  */
@media (max-width: 1023.9px) {
    .wrapper-4.black-section-logo
    {
        padding-top: 0;
    }
    .submenu-container div {
        border-right: none;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .submenu-container .submenu-content {
        padding-bottom: 44px !important;
    }
    .submenu-container .submenu-content a:nth-last-child() {
        padding-bottom: 24px;
    }
    .submenu-container .submenu-images {
        border-top: 1px solid #e5e7eb;
        padding-top: 24px;
    }
    .megamenu-wrapper {
        padding-top: 24px;
        height: 100%;
        padding-top: 84px;
        padding-bottom: 180px;
    }
    .submenu-container ul li {
        margin-bottom: 0;
    }
    .submenu-container ul li a {
        font-size: 20px !important;
    }
    #mega-menu ul {
        display: flex;
        flex: 1;
        gap: 16px;
        padding-bottom: 20px;
        flex-direction: column;
    }
    #backToMenu {
        padding-top: 60px;
        height: 107px;
    }

    .submenu-container {
        display: flex;
        padding-top: 24px !important;
        flex-direction: column;
    }
    .mainmenu-ul li {
        border: none;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-left: 0px !important;
    }
    .mainmenu-ul li a {
        display: flex;
        line-height: 26px;
        font-size: 20px;
        font-weight: 330;
        justify-content: space-between;
    }
    .mobile-header {
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        background: #fff;
        z-index: 1234;
    }
    .mobile-header .header-topbar {
        position: fixed;
        z-index: 123;
    }
    .header-topbar a {
        webkit-transform: translateX(-18px) !important;
        transform: translateX(-18px) !important;
    }
    .header-topbar img {
        width: 88px;
        height: 28px;
    }
    .megamenu-wrapper .topbar-menu {
        padding: 20px 24px 24px 24px;
        margin: 0 auto;
    }
    .megamenu-wrapper .topbar-menu ul li {
        flex: 1;
        margin-left: 0;
    }
    .megamenu-wrapper .topbar-menu ul li:last-child {
        flex: 1;
        bottom: 0;
        margin-top: 9pt;
        position: fixed;
        margin: 0 auto;
        width: 100%;
        background: var(--Blue-700, #0068fa);
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        width: 100vw;
    }
    .megamenu-wrapper .topbar-menu ul li:last-child a {
        padding-left: 24px;
        margin: 0 auto;
    }
    .submenu-links .submenu-viewall {
        max-width: fit-content;
        margin: 0;
    }
    .submenu-links .submenu-viewall .icon-arrow {
        width: 19px;
        margin: -1px 0 0 5px;
    }
    .submenu-content .submenu-viewall {
        max-width: fit-content;
        margin-top: 20px;
        margin-bottom: 4px;
    }
    .submenu-content .submenu-viewall .icon-arrow {
        width: 19px;
        margin: -1px 0 0 5px;
    }
}
/***   Mobile Css  */

@media (min-width: 640px) {
    .mobile-header .topbar-menu,
    .megamenu-wrapper .topbar-menu ul li:last-child a {
        max-width: 40pc !important;
    }
}

@media (min-width: 768px) {
    .mobile-header .topbar-menu,
    .megamenu-wrapper .topbar-menu ul li:last-child a {
        max-width: 8in !important;
    }
}

@media (min-width: 1024px) {
    .submenu-content div.tw-pr-48 {
        padding-right: 1pc !important;
    }
    .submenu-container .tw-flex.tw-flex-wrap.tw-h-fit {
        width: 100%;
    }
    .desktop-links {
        max-width: 861px;
    }
    .mainmenu-ul {
        margin-left: 18px !important;
        flex: 1;
        justify-content: space-between;
    }
    .mainmenu-ul li {
        padding-left: 0 !important;
        margin-left: 0 !important;
        padding-right: 0 !important;
    }
    #backToMenu {
        display: none;
    }
    .mobile-header .topbar-menu,
    .megamenu-wrapper .topbar-menu ul li:last-child a {
        max-width: 64pc !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (min-width: 1280px) {
    .mobile-header .topbar-menu {
        max-width: 80pc !important;
        padding-left: 4pc !important;
        padding-right: 4pc !important;
    }
}

@media (min-width: 1440px) {
    .mobile-header .topbar-menu {
        max-width: 90pc !important;
    }
}

@media (min-width: 1536px) {
    .mobile-header .topbar-menu {
        max-width: 96pc !important;
    }
}
