footer {
    background-color: var(--light-color);
    font-size: var(--body-font-size-xs);
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;
}

@media (width >= 900px) {
    footer .footer > div {
        padding: 40px 32px 24px;
    }
}

.footer-wrapper {
    background-color: black;
    color: #ddd;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer .default-content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-list ul,
.black-section ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.black-section ul {
    flex-direction: row;
    gap: 20px;
}

.footer-list ul li,
.black-section ul li {
    margin: 0;
    transition-duration: 2s;
    color: #8a8a8a;
}

.footer-list ul li a,
.black-section ul li a {
    text-decoration: none;
    color: #bbb;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-list ul li a:hover,
.black-section ul li a:hover {
    color: #fff;
}

.default-content-wrapper picture img {
    width: 100px;
    height: 50px;
    object-fit: contain;
}

.wrapper-2 p {
    text-align: justify;
    color: #ccccccd1;
}

.footer-divider {
    width: 120%;
    border: none;
    border-top: 0.1px solid #ccccccd1;
    margin: 20px 0;
}

.wrapper-3 {
    padding-top: 10px;
}

