@font-face {
  font-family: "Geogrotesque";
  src: 
    url(../fonts/Geogrotesque_Sharp_VF.woff2) format("woff2"),
    url(../fonts/Geogrotesque-Lt.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geogrotesque";
  src: url(../fonts/Geogrotesque_Sharp_VF.woff2) format("woff2"),
    url(../fonts/Geogrotesque_Sharp_VF.woff) format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geogrotesque";
  src: url(../fonts/Geogrotesque_Sharp_VF.woff2) format("woff2"),
    url(../fonts/Geogrotesque_Sharp_VF.woff) format("woff");
  font-weight: 330;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geogrotesque";
  src: url(../fonts/Geogrotesque_Sharp_VF.woff2) format("woff2"),
    url(../fonts/Geogrotesque_Sharp_VF.woff) format("woff");
  font-weight: 270;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geogrotesque";
  src: url(../fonts/Geogrotesque-UltLt.woff2) format("woff2"),
    url(../fonts/Geogrotesque-UltLt.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geogrotesque MD";
  src: url(../fonts/Geogrotesque-Md.woff2) format("woff2"),
      url(../fonts/Geogrotesque-Md.woff) format("woff");
  font-style: normal;
  font-weight: 530;
  font-display: swap;
}