main > .breadcrumb-container {
  grid-row: 1;
  grid-column: 1;
}

main > .section > div {
  padding: 75px 32px;
}

@media (min-width: 900px) {
  main .breadcrumb-container {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

.breadcrumb > nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal; 
  line-height: 1.5;
}

.breadcrumb .breadcrumb-separator {
  margin-left: 0px;
  margin-right: 10px;
  color: black;
}

.breadcrumb > nav a .icon {
  margin-right: 8px;
  vertical-align: middle;
}

.breadcrumb .icon img {
  width: 65%;
}
